body {
  background: #e1e1e1;
}

/* because react seems to make spans for the fun of it */
span {
  vertical-align: top;
}



/*-------------------------------------
  typography
-------------------------------------*/
body {
  font-family: 'Montserrat', sans-serif;
}

a, a:hover {
  text-decoration: none;
}

a:hover {
  color: #49ABFF;
}

h1, .h1 {
  font-weight: 700;
  font-size: 28px;
}

h2, .h2 {
  font-size: 22px;
}

h3, .h3 {
  font-size: 18px;
}

@media (min-width: 768px) {
  h1, .h1 {
    font-size: 36px;
  }

  h2, .h2 {
    font-size: 26px;
  }

  h3, .h3 {
    font-size: 22px;
  }
}

@media (min-width: 922px) {
  h1, .h1 {
    font-size: 40px;
  }

  h2, .h2 {
    font-size: 30px;
  }
}



.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
}


/*-------------------------------------
  hero
-------------------------------------*/
.page-hero {
  position: relative;
  padding-bottom: 60%;
  background-image: url('https://pbs.twimg.com/profile_banners/15846407/1455554834/1500x500');
  /*background-image: url('/img/default-bg.jpg');*/
  background-size: cover;
}

@media (min-width: 768px) {
  .page-hero {
    padding-bottom: 50%;
  }
}

.page-title,
.screen-name-form-cont {
  position: absolute;
  color: #FFF;
}

.page-title {
  width: 100%;
  margin: 0;
  top: 4vw;
  text-align: center;
  text-shadow: 0px 14px 10px rgba(0, 0, 0, 0.3), 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.screen-name-form-cont {
  position: absolute;
  width: 100%;
  max-width: 360px;
  top: calc(50% + 17px);
  left: 50%;
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.screen-name-form-cont .form-group {
  width: calc(100% - 70px);
  display: inline-block;
}




/*-------------------------------------
  timeline
-------------------------------------*/
.user-timeline-tweets {
  margin: 20px 0;
}

.user-tweet-cont {
  padding: 20px;
  margin: 5px 0;
  background-color: #FFF;
  border-radius: 5px;
  border: solid 1px #CCCCCC;
}

.user-info {
  display: inline-block;
}

.user-avatar {
  padding-right: 8px;
}

.user-name {
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.user-screen-name {
  margin-top: -4px;
}

.user-tweet {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #FBFBFF;
  border-radius: 4px;

  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3;
}

.media-image {
  width: 100%;
}
