<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Last 25 Tweets</title>
    <meta name="description" content="Example app that consumes the Twitter API to display the time &amp; content of the last 25 tweets for any given Twitter handle.">

  </head>

  <body>
    <div id="app"></div>
    <script src="{{base}}/bundle.js"></script>
    {{{ @body }}}
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
     
      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };
     
      return t;
    }(document, "script", "twitter-wjs"));</script>
  </body>
</html>