<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Last 25 Tweets</title>
    <meta name="description" content="Example app that consumes the Twitter API to display the time &amp; content of the last 25 tweets for any given Twitter handle.">
    <style>
      /*-------------------------------------
        reset
      -------------------------------------*/
      h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, table, th, td, caption, hr {
          margin:0;
          padding:0;
      }
      /* Give a help cursor to elements that give extra info on `:hover`. */
      abbr[title], dfn[title] { cursor: help; }
      /* Remove underlines from potentially troublesome elements. */
      u, ins { text-decoration: none; }
      /* Apply faux underline via `border-bottom`. */
      ins { border-bottom: 1px solid; }
      /* So that `alt` text is visually offset if images don’t load. */
      img { font-style: italic; }
      /* Give form elements some cursor interactions... */
      label, input, textarea, button, select, option { cursor: pointer; }
      .text-input:active, .text-input:focus, textarea:active, textarea:focus {
          cursor: text;
          outline: none;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  </head>

  <body>
    {{{ @body }}}
    {{!-- 
    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
     
      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };
     
      return t;
    }(document, "script", "twitter-wjs"));</script>
    --}}
  </body>
</html>